.Header{
  height: 15vh;
  width: 60vw;

  border-bottom: solid rgb(7, 147, 247) 4px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  padding-bottom: 20px;

  box-sizing: border-box;


}

.Header h1{
  cursor: pointer;
  user-select: none;
}
